[submodule "wrpc-sw"]
	path = wrpc-sw
	url = git://ohwr.org/hdl-core-lib/wr-cores/wrpc-sw.git
[submodule "wr-cores"]
	path = wr-cores
	url = git://ohwr.org/hdl-core-lib/wr-cores.git
[submodule "pcie-wb"]
	path = pcie-wb
	url = git://github.com/terpstra/pcie-wb.git
